<!-- ###singleView### begin-->
	<!-- ###nameBox### begin -->
		<h2>###name###</h2>
	<!-- ###nameBox### end -->
	<p>
		<!-- ###date_fromBox### begin -->
			###date_from###
		<!-- ###date_fromBox### end -->
		<!-- ###date_toBox### begin -->
			 - ###date_to###
		<!-- ###date_toBox### end -->
	</p>
	
	<!-- ###lectureformatsBox### begin -->
		<div class="lectureformats">###lectureformats###</div>
	<!-- ###lectureformatsBox### end -->
	
	<!-- ###courseformatsBox### begin -->
		<div class="courseformats">###courseformats###</div>
	<!-- ###courseformatsBox### end -->
	
	<!-- ###categoriesBox### begin -->
		<div class="categories">###categories###</div>
	<!-- ###categoriesBox### end -->
	
	<!-- ###descriptionBox### begin -->
		<p class="description">###description###</p>
	<!-- ###descriptionBox### end -->
	
	<!-- ###personsBox### begin -->
		<div class="persons">###persons###</div>
	<!-- ###personsBox### end -->
	
	<!-- ###filesBox### begin -->
		<p class="files">###files###</p>
	<!-- ###filesBox### end -->
	
	<!-- ###max_participantsBox### begin -->
		<p class="max_participants">###max_participantsLabel###: ###max_participants###</p>
	<!-- ###max_participantsBox### end -->
	
	<!-- ###registration_deadlineBox### begin -->
		<p class="registration_deadline">###registration_deadlineLabel###: ###registration_deadline###</p>
	<!-- ###registration_deadlineBox### end -->

	<!-- ###registrationlinkBox### -->
		<p class="registrationLink"><a href="###registrationLink###">###registrationLinkLabel###</a></p>
	<!-- ###registrationlinkBox### -->
	
	<!-- ###linkBox### -->
		<p class="backlink"><a href="###backLink###">&lt;&lt; ###backLabel###</a></p>
	<!-- ###linkBox### -->
<!-- ###singleView### end-->

<!-- ###categoriesRelationBox### begin -->
<!-- ###listView### begin -->
	###noResultFound###
	<!-- ###list### begin -->
	<ul style="list-style-type: none;">
			<!-- ###rows### begin -->
				<!-- ###row0### begin -->
				<li class="odd">
					<!-- ###cell### -->
						###content###
					<!-- ###cell### -->
				</li>
				<!-- ###row0### end -->

				<!-- ###row1### begin -->
				<li>
					<!-- ###cell### -->
						###content###
					<!-- ###cell### -->
				</li>
				<!-- ###row1### end -->
			<!-- ###rows### end -->
		</ul>
	<!-- ###list### end -->
<!-- ###listView### end -->
<!-- ###categoriesRelationBox### end -->


<!-- ###personTable### begin -->

<table class="tablelist" border="0" cellpadding="0" cellspacing="0" width="100%">
	###list###
</table>

<!-- ###personTable### end -->

<!-- ###listPerson### -->
<tr ###class###>
	<td class="tx-x4econgress-pi1-person">
		<a href="###personLink###">###lastname###</a>
	</td>
	<td>###firstname###</td>
	<td>###office_phone###</td>
	<td>###email###</td>
</tr>
<!-- ###listPerson### -->