<!-- ###listView### -->

	<!-- ###lvl_0### begin -->
	<li><div><b>###name###</b></div>
		<!-- ###lvl_1### begin -->
		<li>
		<a name="congress_###uid###" href='#'></a>
		<div><b>###name###</b></div>
			<!-- ###lvl_2### begin -->
			<li><div>
			<p>###name### ###papers###</div></li>
			<!-- ###lvl_2### end -->
		</li>
		<!-- ###lvl_1### end -->
	</li>
	<!-- ###lvl_0### end -->

<!-- ###listView### -->


<!-- ###nameWithRegLink### begin -->
	<a href="###registrationLink###" target="_self">###name###</a>
<!-- ###nameWithRegLink### end -->


<!-- ###papersList### begin -->
	<!-- ###listView### begin -->
	<!-- ###list### begin -->
		<ul class="papers">
		<!-- ###rows### begin -->
			<!-- ###row0### begin -->
				<li class="odd">
					<!-- ###cell### begin -->
						###content###
					<!-- ###cell### end -->
				</li>
			<!-- ###row0### end -->
			<!-- ###row1### begin -->
				<li>
					<!-- ###cell### begin -->
						###content###
					<!-- ###cell### end -->
				</li>
			<!-- ###row1### end -->
		<!-- ###rows### begin -->
		</ul>
	<!-- ###list### end -->
	<!-- ###listView### end -->
<!-- ###papersList### end -->


<!-- ###fe_userRelationBox### -->

<!-- ###listView### begin -->
	<!-- ###list### begin -->
		<div class="congr_admin">
		<!-- ###rows### begin -->
			<!-- ###row0### begin -->
				<p>
					<!-- ###cell### begin -->
						###content###
					<!-- ###cell### end -->
				</p>
			<!-- ###row0### end -->
			<!-- ###row1### begin -->
				<p>
					<!-- ###cell### begin -->
						###content###
					<!-- ###cell### end -->
				</p>
			<!-- ###row1### end -->
		<!-- ###rows### begin -->
		</div>
	<!-- ###list### end -->
	<!-- ###listView### end -->

<!-- ###fe_userRelationBox### -->