<!-- ###listView### begin -->
	###search###
	<p>###pageBrowser###</p><br />
	###noResultFound###
	<!-- ###list### begin -->
		 <table class="tablelist" border="0" cellpadding="0" cellspacing="0" width="100%">
		<thead>
			<!-- ###headRow### begin -->
			<tr>
				<!-- ###cell### -->
					<th>###content###</th>
				<!-- ###cell### -->
			</tr>
			<!-- ###headRow### end -->
	</thead>
	<tbody>
			<!-- ###rows### begin -->
				<!-- ###row0### begin -->
				<tr class="odd">
					<!-- ###cell### -->
						<td>###content###</td>
					<!-- ###cell### -->
				</tr>
				<!-- ###row0### end -->

				<!-- ###row1### begin -->
				<tr>
					<!-- ###cell### -->
						<td>###content###</td>
					<!-- ###cell### -->
				</tr>
				<!-- ###row1### end -->
			<!-- ###rows### end -->
		</tbody>
		</table>
	<!-- ###list### end -->
<!-- ###listView### end -->

<!-- ###noResultFoundBox### begin -->
	###noResultFoundText###
<!-- ###noResultFoundBox### end -->

<!-- ###listOfDetailView### -->
	
	<div class="tx-x4econgress-pi1">
	<!-- ###listElements### begin-->
		<!-- ###singleView### begin-->
			<div class="detailListElement">
				###personpic###
				<div class="details">
					<!-- ###date_fromBox### begin -->
					###date_from###
					<!-- ###date_fromBox### end -->
					
					<!-- ###date_toBox### begin -->
					- ###date_to###
					<!-- ###date_toBox### end -->
					
					<!-- ###nameBox### begin -->
					<br/>
					<span class="title">###name###</span>
					<!-- ###nameBox### end -->
					
					<!-- ###personsBox### begin -->
					<br/><br/>
					<span class="person">###persons###</span>
					<!-- ###personsBox### end -->
				</div>
			</div>
			<div class="clearer"></div>
		<!-- ###singleView### end-->
	<!-- ###listElements### end-->
	</div>
<!-- ###listOfDetailView### -->