<!-- ###singleView### begin-->
	<!-- ###nameBox### begin -->
		<h2>###name###</h2>
	<!-- ###nameBox### end -->
	<form action="###formAction###" method="post" id="tx_x4econgress_form">
		<p id="reg_type">
			<label>###form_type###</label>
			<input type="radio" checked="checked" name="###prefixId###[type]" id="x4econgress_type_0" value="0" class="validate-one-required radio_button_type" /><label class="reg_type_label" for="x4econgress_type_0">###form_type_participant###</label>
			<input type="radio" name="###prefixId###[type]" id="x4econgress_type_1" value="1" class="radio_button_type" /><label for="x4econgress_type_1" class="reg_type_label">###form_type_speaker###</label>
		</p>
		<div style="clear:both;"></div>
		<p style="padding-top: 15px;">
			<label for="x4econgress_name">###form_name###*</label>
			<input type="text" class="required" name="###prefixId###[name]" id="x4econgress_name" />
		</p>
		<div style="clear:both;"></div>
		<p>
			<label for="x4econgress_firstname">###form_firstname###*</label>
			<input type="text" class="required" name="###prefixId###[firstname]" id="x4econgress_firstname" />
		</p>
		<div style="clear:both;"></div>
		<p>
			<label for="x4econgress_address">###form_address###*</label>
			<textarea class="required" name="###prefixId###[address]" id="x4econgress_address" rows="3" cols="50"></textarea>
		</p>
		<div style="clear:both;"></div>
		<p>
			<label for="x4econgress_zip">###form_zip###*</label>
			<input class="required" type="text" name="###prefixId###[zip]" id="x4econgress_zip" />
		</p>
		<div style="clear:both;"></div>
		<p>
			<label for="x4econgress_city">###form_city###*</label>
			<input class="required" type="text" name="###prefixId###[city]" id="x4econgress_city" />
		</p>
		<div style="clear:both;"></div>
		<p>
			<label for="x4econgress_country">###form_country###*</label>
			<input class="required" type="text" name="###prefixId###[country]" id="x4econgress_country" />
		</p>
		<div style="clear:both;"></div>
		<p>
			<label for="x4econgress_email">###form_email###*</label>
			<input  class="validate-email required" type="text" name="###prefixId###[email]" id="x4econgress_email" />
		</p>
		<div style="clear:both;"></div>
		<p>
			<label for="x4econgress_phone">###form_phone###</label>
			<input  class="" type="text" name="###prefixId###[phone]" id="x4econgress_phone" />
		</p>
		<div style="clear:both;"></div>
		<p>
			<label for="x4econgress_phone">###form_worklocation###</label>
			<input  class="" type="text" name="###prefixId###[worklocation]" id="x4econgress_worklocation" />
		</p>
		<div style="clear:both;"></div>
		<p>
			<label for="x4econgress_remarks">###form_remarks###</label>
			<textarea name="###prefixId###[remarks]" id="x4econgress_remarks" rows="6" cols="50"></textarea>
		</p>
		<div style="clear:both;"></div>
		<p>
			<label>&nbsp;</label>
			<input type="submit" name="###prefixId###[submit]" value="###form_submit###" class="submit_button" />
		</p>
		<div style="clear:both;"></div>
		<p>* = ###required###</p>
	</form>
<!-- ###singleView### end-->