<!-- ###participant### begin-->
Anmeldung für: ###congressName###

Anmeldung als: ###type###

Nachname: ###name###
Vorname:  ###firstname###
Adresse:  ###address###
PLZ:      ###zip###
Ort:      ###city###
Land:     ###country###

E-Mail:   ###email###

Bemerkungen:

###remarks###
<!-- ###participant### end-->

<!-- ###speaker### begin-->
Anmeldung für: ###name###

Anmeldung als: ###type###

Nachname: ###name###
Vorname:  ###firstname###
Adresse:  ###address###
PLZ:      ###zip###
Ort:      ###city###
Land:     ###country###

E-Mail:   ###email###

Bemerkungen:
###remarks###

Poster

Titel:    ###poster_title###
Abstract:
###poster_abstract###

Detail:
###poster_detail###

Sofern der Sprecher Bilder geliefert hat, sind diese im Anhang der E-Mail zu finden.
<!-- ###speaker### end-->