<!-- ###singleView### begin-->
	<h2>
	<!-- ###nameBox### begin -->
		###name###
	<!-- ###nameBox### end -->
		- ###speakerRegistration###
	</h2>
	<form action="###formAction###" method="post" enctype="multipart/form-data">
		<p>
			<label for="x4econgress_poster_title">###posterTitle###</label>
			<input type="text" name="###prefixId###[poster_title]" id="x4econgress_poster_title"  style="width: 400px" />
		</p>
		<p>
			<label for="x4econgress_poster_abstract">###posterAbstract###</label>
			<textarea name="###prefixId###[poster_abstract]" id="x4econgress_poster_abstract" cols="80" rows="8" style="width: 400px"></textarea>
		</p>
		<p>
			<label for="x4econgress_poster_detail">###posterDetail###</label>
			<textarea name="###prefixId###[poster_detail]" id="x4econgress_poster_detail" cols="80" rows="20" style="width: 400px"></textarea>
		</p>
		<p id="posterImages">
			<label id="imageLabel">###posterImages###</label>
			<input type="file" name="###prefixId###[poster_images][]" /><br />
			<input type="file" name="###prefixId###[poster_images][]" /><br />
			<input type="file" name="###prefixId###[poster_images][]" /><br />
			<input type="file" name="###prefixId###[poster_images][]" /><br />
			<input type="file" name="###prefixId###[poster_images][]" />
		</p>
		<p>
			<label>&nbsp;</label>
			<input type="submit" name="###prefixId###[submit]" value="###form_submit###" />
			<input type="hidden" name="###prefixId###[uid]" value="###uid###" />
			<input type="hidden" name="###prefixId###[rand]" value="###rand###" />
		</p>
	</form>
<!-- ###singleView### end-->